.center {
    padding-left: 15vw;
    padding-right: 15vw;
}

.entete {
    height: 80vh;
    background: rgb(233, 175, 175);
    background: linear-gradient(149deg, rgba(0,0,0,1) 40%, rgba(255,255,255,1) 100%);
    display: flex;
    align-items: center
}
h1{
    margin: 0;
    font-size: 1.5rem;
    color: #EEEEEE;
}
.entete h2{
    margin: 1rem 0;
    font-size: 3rem;
    background-image: linear-gradient(130deg, #EEEEEE, #69C3D2, #F4AF2D);
  background-clip: text;
  color: transparent;
}

.texte{
    margin-bottom: 3rem;
    font-size: 1rem;
}

.entete p{
    color: #EEEEEE;
    font-family: "Roboto";
}
.entete img {
    height: auto;
    width: 20vw;
}

.entete .butsec a{
    margin-right: 2rem;
}

/* ------------------------ fin de la première div -------------------------------*/


.slider {
    margin: 0;
    position: relative;
    width: 100%; /* Largeur du slider */
    height: 97vh; /* Hauteur du slider */
    overflow: hidden;
}

/* Chaque slide */
.slide {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Par défaut, toutes les slides sont masquées */
    transition: opacity 2s ease-in-out; /* Transition douce pour le fondu */
    z-index: 0; /* Empêche les slides masquées d'interférer */
}

/* Slide active */
.slide.active {
    opacity: 1; /* Slide visible */
    z-index: 1; /* Passe devant les autres slides */
}

/* Images */
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajuste les images pour qu'elles remplissent le conteneur */
}

.slide.active img {
    animation: zoom 8s ease-in-out;
}

@keyframes zoom {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1); /* Zoom léger */
    }
}


/* ------------------------ Fin du slider -------------------------------*/

.bandeau {
    position: relative;
    overflow: hidden;

}

/* Texte défilant */
.bandeaublanc {
    border-top: #000 5px solid;
    border-bottom: #000 5px solid;
    background-color: #EEEEEE;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow: hidden;                     /* masque tout ce qui dépasse */
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center
}

.bandeaublanc > div{
    display: flex;
}

.bandeaublanc > div p{
    font-family: "bebasNeue";
}


/* Texte défilant */
.texte-defilant {
    display: inline-block;                /* modèle de boîte en ligne */
    animation: defilement-rtl 3s infinite linear;
    padding : 0 20rem  0 0;
    white-space: nowrap;
    font-size: 2rem;
}

.bas{
    top: auto;
    bottom: 0;
    margin-left: -7%;
    width: 110%;
}
.texte-defilant-reverse {
    display: inline-block;                /* modèle de boîte en ligne */
    animation: defilement-ltr 3s infinite linear;
    padding : 0 30rem  0 0;
    white-space: nowrap;
    font-size: 2rem;
}

/* Animation pour le mouvement et le fondu */
@keyframes defilement-rtl {
    0% {
      transform: translate3d(100,0,0);      /* position initiale à droite */
    }
    100% {
      transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
  }

  @keyframes defilement-ltr {
    0% {
      transform: translate3d(-100,0,0);      /* position initiale à droite */
    }
    100% {
      transform: translate3d(100%,0,0);  /* position finale à gauche */
    }
  }

  /*----------------------------Fin du bandeau---------------------------*/

 .flash {
    margin-bottom: 10%;
    position: absolute;
    background: #0000009d;
    bottom: 0;
    z-index: 10;
    width: 30%;
    left: 0;
    margin-left: 15vw;
    padding: 2rem;
    color: white;
 }

 .flash .butprin {
    display: flex;
    justify-content: flex-end;
    margin : 2rem 0 0  0;
 }